<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="INFI Localhost Selenium Test Suite">
    <test name="Navigation Tests">
        <classes>
            <class name="tests.NavigationTest"/>
        </classes>
    </test>

    <test name="Registration Tests">
        <classes>
            <class name="tests.RegisterTest"/>
        </classes>
    </test>

    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Session Handling Tests">
        <classes>
            <class name="tests.SessionHandlingTest"/>
        </classes>
    </test>

    <test name="Product Listing Tests">
        <classes>
            <class name="tests.ProductListingTest"/>
        </classes>
    </test>

    <test name="Product Search Filter Tests">
        <classes>
            <class name="tests.ProductSearchFilterTest"/>
        </classes>
    </test>

    <test name="Add To Cart Tests">
        <classes>
            <class name="tests.AddToCartTest"/>
        </classes>
    </test>

    <test name="Checkout Tests">
        <classes>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>
</suite>
